.App {
  text-align: center;
  box-sizing: border-box;
}
body {
  background-color: beige;
  font-family: "Lato", sans-serif;
}

input {
  padding-top: 3px;
  padding-bottom: 5px;
  border-radius: 5px;
  border-color: lightgray;
  border-style: groove;
}
#SearchInput {
  margin-top: 30px;
  width: 30%;
}

input:focus {
  outline: 1.5px solid darkgray;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
